@{
    Layout = null;

    //title
    // NopHtml.AddTitleParts(T("PageTitle.StoreClosed").Text);
    //page class
    // NopHtml.AppendPageCssClassParts("html-store-closed-page");
}
@* <div class="page store-closed-page">
    <div class="page-title">
        <h1>@T("StoreClosed")</h1>
    </div>
    <div class="page-body">
        @T("StoreClosed.Hint")
    </div>
</div>
 *@

<style>
    body {
        margin: 0;
        padding: 0;
        background: white;
    }

    * {
        box-sizing: border-box;
    }

    .maintenance {
        background-image: url('images/main-1.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: scroll;
        background-size: cover;
    }

    .maintenance {
        width: 100%;
        height: 100%;
        min-height: 100vh;
    }

    .maintenance {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .maintenance_contain {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 15px;
    }

        .maintenance_contain img {
            width: auto;
            max-width: 100%;
        }

    .pp-infobox-title-prefix {
        font-family: monospace;
        font-size: 20px;
        color: #000000;
        margin-top: 30px;
        text-align: center;
    }

    .pp-infobox-title-prefix {
        font-family: monospace sans-serif;
    }

    .pp-infobox-title {
        color: #000000;
        font-family: monospace sans-serif;
        font-weight: 700;
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        display: block;
        word-break: break-word;
        font-family: monospace sans-serif;
    }

    .title-text.pp-primary-title {
        color: #000000;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        font-family: monospace sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.4;
        margin-top: 50px;
        margin-bottom: 0px;
    }
</style>
<div class="maintenance">
    <div class="maintenance_contain">
        <img src="~/images/taxi-browser-window-with-gears.gif" style="width:20%;" />
        <span class="pp-infobox-title-prefix">WE ARE COMING SOON</span>
        <div class="pp-infobox-title-wrapper">
            <h3 class="pp-infobox-title">The website is under maintenance!</h3>
        </div>
    </div>
</div>